.resources-group-header {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: #e8e8e8; 
    border-bottom: 1px solid #1c1c1e;
}

.resources-group-header .group-title {
    font-size: 1.5rem;
    padding-left: 2rem;
    font-weight: bold;
    color: #556cd6;

    align-self: center;
  }

  .resources-group-header .resources-paragraph {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    color: #1c1c1e;
    align-self: self-start;
    text-align: center;
  }

  .resources-group-header .button-format {
    justify-content: right;
    padding-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }


  .group-table {
    display: flex;
    color: #1c1c1e;
    padding-right: 2.5%;
    padding-left: 2.5%;
  }

  .group-table .middle-table {
    max-height: 25rem;
    min-height: 25rem;
    max-width: 50%;
    min-width: 50%;
    background-color: #ffffff;
    table-layout: fixed;
    flex: 4;
    overflow: hidden;
    border-right: 1px solid #e8e8e8;

  }

  .middle-table .table-body-1 {
    max-height: 20rem;
    overflow-y: auto;
    max-width: 100%;
    min-width:100%
  }

  .group-table .left-table {
    max-height: 25rem;
    min-height: 25rem;
    max-width: 15%;
    max-width: 15%;
    background-color: #e8e8e8;
    overflow-y: auto;
    flex: 1;
    display: flex;
  }


  .group-table .right-table {
    max-height: 25rem;
    min-height: 25rem;
    max-width: 35%;
    min-width: 35%;
    background-color: #ffffff;
    flex: 3;
<<<<<<< HEAD
  }

=======
    display: flex;
    flex-direction: column;
  }


>>>>>>> 43cf935a6e697def62271eb07b341be74e4b9fb9
  .right-table .table-body-2 {
    padding: 1rem;
    font-size: .9rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: flex;
<<<<<<< HEAD
=======
    overflow-y: auto;
    max-height: 20rem;
>>>>>>> 43cf935a6e697def62271eb07b341be74e4b9fb9
    flex-direction: column;
    justify-content: space-between;
  }

  .table-body-2 .button-format {
    padding-right: 2rem;
<<<<<<< HEAD
    margin-top: 4rem;
=======
    margin-top: 2rem;
>>>>>>> 43cf935a6e697def62271eb07b341be74e4b9fb9
    margin-bottom: 1rem;
  }

  .table-body-2 .tb2-header {
    margin-bottom: .5rem;
    font-weight: bold;
    text-decoration: underline;
<<<<<<< HEAD
  }
=======
  }

  .table-body-2 .tb2-empty {
    margin-bottom: .5rem;
    font-weight: bold;
  }
>>>>>>> 43cf935a6e697def62271eb07b341be74e4b9fb9
