cachetools==5.5.0
google-auth==2.34.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
rsa==4.9
oracledb==2.4.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
greenlet==3.1.0
gunicorn==23.0.0
itsdangerous===2.1.2
Jinja2===3.1.2
bcrypt==4.2.0
urllib3==1.25.9
Werkzeug===3.0.0
uwsgi
