.lft {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;
    margin-right: 20px; 
}

.cen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 20px;
}

.rgt {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 20px;
    margin-left: 20px; 
}

.top {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 10px; 
}

body {
    display: flex;
    flex-direction: column;
    margin: 0; 
    padding: 0; 
    height: 100vh; /* 
}

.log {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    width: 100%; 
}

table {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width: 100%; /*  */
}

.soc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
