.calendar-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #b0b5de;
    color: rgba(255, 255, 255, 0.87);
    overflow: hidden;
}

.calendar-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #99a2e4;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.calendar-content {
    flex-grow: 1;
    padding: 20px; 
    overflow: auto; 
}


.rbc-day-bg {
    transition: background-color 0.2s ease-in-out; 
}

.rbc-day-bg:hover {
    background-color: #f0f3fa;
    cursor: pointer; 
}

/* "today" tile */
.rbc-today {
    background-color: #e4e7f8; 
    color: rgba(0, 0, 0, 0.87); 
    border-radius: 6px; 
    border: none; 
}

.rbc-today:hover {
    background-color: #d6daf0; 
    color: rgba(0, 0, 0, 0.87); 
    cursor: pointer; 
}
.rbc-off-range-bg {
    background-color: #f5f7fc; /* Slightly lighter than the "today" tile */
    color: rgba(0, 0, 0, 0.6); /* Muted text color for distinction */
    transition: background-color 0.2s ease-in-out; /* Smooth transition for hover */
}


.MuiDrawer-paper {
    width: 250px; /*fixed width*/
    max-width: 80%; 
    background-color: #99a2e4; 
    color: #99a2e4;
    overflow-y: auto;
   
}
.drawer-content {
    background-color: #99a2e4;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column; 
    padding: 10px; 
}

.drawer-list {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.drawer-list-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.drawer-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

.mini-calendar {
    background-color: transparent;
    padding: 2px;
    border-radius: 1px;
    margin-bottom: 20px;
    backdrop-filter: blur(10px); 
}

.mini-calendar .react-calendar {
    background-color: transparent; 
    box-shadow: none; 
    border: 1px  #99a2e4; 
}

.mini-calendar .react-calendar__tile {
    color: #1c1c1e; 
    border-radius: 6px; 
}

.mini-calendar .react-calendar__tile--active {
    
    color: #ffffff; 
}
.mini-calendar .react-calendar__navigation {
    background-color: transparent; 
    border: none; 
}

.mini-calendar .react-calendar__navigation button {
    background: none; 
    color: #ffffff; 
    font-weight: bold;
    font-size: 1rem; 
    border: none; 
    padding: 5px; 
}

.mini-calendar .react-calendar__navigation button:enabled:hover {
    background: rgba(255, 255, 255, 0.2); 
}

.mini-calendar .react-calendar__navigation button:disabled {
    color: rgba(255, 255, 255, 0.4); 
}

